section.footer
  ._container
    .footer--social-icons
      .footer--icon-container
        a.footer--icon-link(href="https://github.com/jzhang300")
          i.icon.icon-github
      .footer--icon-container
        a.footer--icon-link(href="https://www.linkedin.com/in/james-zhang-b7442126")
          i.icon.icon-linkedin
    .footer--text
      © 2017 - designed and developed by James Zhang.
