@mixin base--blockquote {
  font-style: italic;
  color: color('gray', 70);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  border-left: 3px solid color('yellow', 10);
  background-color: get('white 2');
}
