extend layouts/layout

block content
  ._container.blog-article
    h1.blog-article--title #{markdownFile.meta.title}
    h5.blog-article--meta #{markdownFile.meta.date}
    != markdownFile.parseContent()
