extend layouts/layout

block content
  section.hero
    ._container
      .hero--box
        h1.base--h1.hero--name
          span.hero--text James Zhang
        h3.base--h4.hero--role
          span.hero--text Front End - Full Stack Developer
  section.blog
    .blog--sun-positioning
      .blog--sun-container
        svg.blog--sun(width='888px', height='419px', viewbox='0 0 888 419', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g.blog--sun-shapes-container(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            circle#Oval(fill='#FF585C', cx='445', cy='349', r='70')
            path#Line(d='M370,319 L129.5,207.5', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='10,1,10')
            path#Line(d='M412,271 L306,2', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='10,1,10')
            path#Line(d='M367,334 L234,303', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='30,10,8')
            path#Line(d='M366,346 L2,309', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='30,8,4')
            path#Line(d='M377,305 L332,271', stroke='#FF585C', stroke-width='2', stroke-linecap='square')
            path#Line(d='M513,310 L768,147', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='30,10,10')
            path#Line(d='M521,322 L605,288', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='10,13,1,32')
            path#Line(d='M484,279 L545,178', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='10,13,1,32')
            path#Line(d='M522,335 L849,264', stroke='#FF585C', stroke-width='2', stroke-linecap='square', stroke-dasharray='11,21,30')
        //- img.blog--sun(src="images/sun.svg", draggable="false")
      .blog--sun-small
    ._container
      .timeline
        .timeline--row.timeline--beginning-of-line
          .timeline--line
        .timeline--row(style="min-height: 15rem;")
          .timeline--line
        .timeline--row.timeline--end-of-line
          .timeline--line
          .timeline--end-of-line-point

block scripts
  include includes/templates/timeline.jade
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="js/jquery.min.js")
  script(src="js/underscore.min.js")
  script(src="js/moment.min.js")
  script(src="js/marked.min.js")
  script(src="js/main.js")
