extend layout

block content
  .top-nav
    ._container
      nav.top-nav--nav
        li.top-nav--li.base--li
          a.top-nav--a.base--a Home
        li.top-nav--li.base--li
          a.top-nav--a.base--a About
        li.top-nav--li.base--li
          a.top-nav--a.base--a Blog
        li.top-nav--li.base--li
          a.top-nav--a.base--a Credits
  section.hero
    ._container
      .hero--box
        h1.base--h1.hero--name
          span.hero--text James Zhang
        h3.base--h4.hero--role
          span.hero--text Front End - Full Stack Developer
  section.blog
    .blog--sun-positioning
      .blog--sun-container
        img.blog--sun(src="images/sun.svg")
      .blog--sun-small
    ._container
      .timeline
  section.footer
    ._container
      .footer--social-icons
        .footer--icon-container
          a.footer--icon-link(href="https://github.com/jzhang300")
            i.icon.icon-github
        .footer--icon-container
          a.footer--icon-link(href="https://www.linkedin.com/in/james-zhang-b7442126")
            i.icon.icon-linkedin
      .footer--text
        © 2017. This site was designed and developed by James Zhang.
