extend layouts/layout

block content
  section.hero
    ._container
      .hero--box
        h1.base--h1.hero--name
          span.hero--text James Zhang
        h3.base--h4.hero--role
          span.hero--text Front End - Full Stack Developer
  section.blog
    .blog--sun-positioning
      .blog--sun-container
        img.blog--sun(src="images/sun.svg", draggable="false")
      .blog--sun-small
    ._container
      .timeline
        .timeline--row.timeline--beginning-of-line
          .timeline--line
        .timeline--row(style="min-height: 15rem;")
          .timeline--line
        .timeline--row.timeline--end-of-line
          .timeline--line
          .timeline--end-of-line-point

block scripts
  include includes/templates/timeline.jade
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="js/jquery.min.js")
  script(src="js/underscore.min.js")
  script(src="js/moment.min.js")
  script(src="js/marked.min.js")
  script(src="js/main.js")
