extend layout

block content
  .top-nav
    ._container
      nav.top-nav--nav
        li.top-nav--li.base--li
          a.top-nav--a.base--a Home
        li.top-nav--li.base--li
          a.top-nav--a.base--a About
        li.top-nav--li.base--li
          a.top-nav--a.base--a Blog
        li.top-nav--li.base--li
          a.top-nav--a.base--a Credits
  section.hero
    ._container
      .hero--box
        h1.base--h1.hero--name
          span.hero--text James Zhang
        h3.base--h4.hero--role
          span.hero--text Full Stack Developer
  section.blog
    div.blog--sun-positioning
      div.blog--sun-container
        img.blog--sun(src="images/sun.svg")
      div.blog--sun-small
    ._container
      .timeline
        .timeline--row.timeline--beginning-of-line
          .timeline--line
        .timeline--row
          .timeline--line
          .timeline--tag
            | 2016
          .timeline--line
        .timeline--row.timeline--posts
          .timeline--post.timeline--post_hidden
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post.timeline--post_hidden
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--line
        .timeline--row
          .timeline--tag
            | 2015
          .timeline--line
        .timeline--row.timeline--posts
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--line
        .timeline--row
          .timeline--post.timeline--post_large
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--line
        .timeline--row
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--post
            .timeline--post-image-container
              img.timeline--post-image(src='images/sample-image.jpg', alt='')
            .timeline--post-content
              h4.timeline--post-header.base--h4 Greetings
              h5.base--h5.timeline--post-date
                | Posted on 05/27/2016 • 
                a.base--a(href="") 1 Comment
              p.base--p.timeline--post-description
                | Paravel launches DayTrip, an app to help you break the Netflix cycle so you can go outside and play.
              a.base--a.timeline--read-more(href="") Read More »
          .timeline--line
        .timeline--end-of-line.timeline--row
          .timeline--line
          .timeline--end-of-line-point
          .timeline--end-of-line-text
            | Beginning of time
