doctype html
html(lang="en-AU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/style.css")
	body
		//- .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
		//- 	.container
		//- 		.navbar-header
		//- 			button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
		//- 				span.sr-only Toggle navigation
		//- 				span.icon-bar
		//- 				span.icon-bar
		//- 				span.icon-bar
		//- 			a.navbar-brand(href="/") markdown-serve Sample
		//- 		.collapse.navbar-collapse
		//- 			ui.nav.navbar-nav
		//- 				li
		//- 					a(href="/") Home
		//- 				li
		//- 					a(href="/about") About
		//- 				li
		//- 					a(href="/draft") Draft
		block content
		
		script(type="text/html", id="timelineTemplate").
			<div class="timeline--row timeline--beginning-of-line">
				<div class="timeline--line"></div>
			</div>
			<% _.each(items, function(item, key, list) { %>
				<% if (key > 0) { %>
					<div class="timeline--row">
						<div class="timeline--tag"><%= item.year %></div>
						<div class="timeline--line"></div>
					</div>
				<% } %>
				<% if (key === 0) { %>
					<div class="timeline--row">
						<div class="timeline--post timeline--post_large timeline--post_hidden">
							<div class="timeline--post-image-container">
								<img class="timeline--post-image" src="images/sample-image.jpg" alt="">
							</div>
							<div class="timeline--post-content">
								<h4 class="timeline--post-header base--h4"><%= item.posts[0].title %></h4>
								<h5 class="timeline--post-date base--h5">
									Posted on <%= item.posts[0].date %> • <a class="base--a" href="">1 Comment</a>
								</h5>
								<p class="base--p timeline--post-description"><%= item.posts[0].description %></p>
								<a class="base--a timeline--read-more" href="<%= item.posts[0].url %>">Read More »</a>
							</div>
						</div>
						<div class="timeline--line"></div>
					</div>
				<% } %>
				<div class="timeline--row timeline--posts">
					<% _.each(items[key].posts, function(post, postKey, postList) { %>
						<% if (!(key === 0 && postKey === 0)) { %>
							<div class="timeline--post timeline--post_hidden">
								<div class="timeline--post-image-container">
								  <img class="timeline--post-image" src="images/sample-image.jpg" alt="">
								</div>
								<div class="timeline--post-content">
									<h4 class="timeline--post-header base--h4"><%= post.title %></h4>
									<h5 class="timeline--post-date base--h5">
										Posted on <%= post.date %> • <a class="base--a" href="">1 Comment</a>
									</h5>
									<p class="base--p timeline--post-description"><%= post.description %></p>
									<a class="base--a timeline--read-more" href="<%= post.url %>">Read More »</a>
								</div>
							</div>
						<% } %>
					<% }); %>
					<div class="timeline--line"></div>
				</div>
			<% }); %>
			<div class="timeline--end-of-line timeline--row">
				<div class="timeline--line"></div>
				<div class="timeline--end-of-line-point"></div>
				<div class="timeline--end-of-line-text">
					Beginning of time
				</div>
			</div>
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="js/jquery.min.js")
		script(src="js/underscore.min.js")
		script(src="js/moment.min.js")
		script(src="js/marked.min.js")
		script(src="js/main.js")
