//////////////////////////////
// Plugins
//////////////////////////////
@import '../../bower_components/modular-scale/stylesheets/modular-scale';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

@font-face {
	font-family: 'ff-tisa-web-pro';
	src: url('../../fonts/ff-tisa-web-pro/ff-tisa-web-pro.eot');
	src: url('../../fonts/ff-tisa-web-pro/ff-tisa-web-pro.eot?#iefix') format('eot'),
		url('../../fonts/ff-tisa-web-pro/ff-tisa-web-pro.woff') format('woff'),
		url('../../fonts/ff-tisa-web-pro/ff-tisa-web-pro.ttf') format('truetype'),
		url('../../fonts/ff-tisa-web-pro/ff-tisa-web-pro.svg#icons') format('svg');
}

@font-face {
	font-family: 'selima';
	src: url('../../fonts/selima/selima.eot');
	src: url('../../fonts/selima/selima.eot?#iefix') format('eot'),
		url('../../fonts/selima/selima.woff') format('woff'),
		url('../../fonts/selima/selima.ttf') format('truetype'),
		url('../../fonts/selima/selima.svg#icons') format('svg');
}
