$serif-font: ('ff-tisa-web-pro', Georgia, Utopia, Charter, serif);
$sans-serif-font: ('Source Sans pro', Verdana Pro, sans-serif);
$calligraphic-font: ('selima');
$monospace-font: ('Inconsolata', Monaco, Consolas, 'Courier New', Courier);

$TypographySettings: (
  'serif': $serif-font,
  'sans serif': $sans-serif-font,
  'calligraphic': $calligraphic-font,
  'headers font': $sans-serif-font,
  'text font': $serif-font,
  'monospace': $monospace-font,
  'weight bold': 700,
  'weight normal': 400,
  'weight light': 200,
  'rhythm': 2rem
);

$GlobalSettings: map-merge($GlobalSettings, $TypographySettings);
